h1 {
  color: #f08080; 
  font-size: 40px;
}

a { 
  color: #c29bff;
  font-size: 15px;
  }

p {
  color: #eb7b68;
  font-size: 18px;
}


li {
  color: #E49EFF;
  font-size: 18px;
}

#kk {
  font-size: 20px;
}

.k {
  color:pink;
  
}
 
body {
    background-color: #ffdaf4;
    font-family: "Franklin Gothic Medium Condensed", Georgia, Serif;
}

 .f {
  color: #804fc4;

 }

.k{
  color:; #c79dd7;

}


body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: pink;
  outline: 1px solid pink;
}