h1 {
  color: #f08080; 
  font-size: 30px;
}

a { 
  color: #c29bff;
  font-size: 15px;
  }

p {
  color: #eb7b68;
  font-size: 18px;
}

#louisck {
  color: #008080;
 
}

#h{ 
color: #ff00a9;
font-size: 20px;}

li {
  color: #ffbfd3;
  font-size: 18px;
}

#kk {
  font-size: 20px;
}

#k {
  color:pink;
  
}
