h1 {
  color: #f08080; 
  font-size: 40px;
}

a { 
  color: #c29bff;
  font-size: 15px;
  }

p {
  color: #eb7b68;
  font-size: 18px;
}


li {
  color: #E49EFF;
  font-size: 18px;
}

#kk {
  font-size: 20px;
}

.k {
  color:pink;
  
}
 
body {
    background-color: #ffdaf4;
    font-family: "Franklin Gothic Medium Condensed", Georgia, Serif;
}



.k{
  color:; #c79dd7;
}
